<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GCP - {{ title }}</title>
    {% block stylesheet %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.4.1/cosmo/bootstrap.min.css"
      integrity="sha256-KgiMiZgZazlcRqcTnpKlQRyoi1Y79W1dsn5CtKFtwH0=" crossorigin="anonymous" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
      integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
      <link rel="stylesheet" href="{{ url_for('home') }}assets/css/main.css"><!-- main.css for dev -->
      <!-- Favicon -->
      <link rel="shortcut icon" href="{{ url_for('home') }}assets/img/favicon.png">
    {% endblock %}
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{{ url_for('home') }}">
        <img id="logo-navbar" class="d-inline-block align-top" alt="gcp">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item{% if current_url() == url_for('home') %} active{% endif %}">
            <a class="nav-link" href="{{ url_for('home') }}">Tableau de bord</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Se déconnecter</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container" style="margin-top: 15px;">
      {% if alert is defined and alert is not empty %}
        {% for key,messages in alert %}
          <div class="alert alert-dismissible alert-{{key}} container">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {% for msg in messages %}
              {{msg}}<br>
            {% endfor %}
          </div>
        {% endfor %}
      {% endif %}

      {% block content %}{% endblock %}
    </div>
    {% block javascript %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script src="{{ url_for('home') }}assets/js/bundle.min.js" charset="utf-8"></script><!-- bundle.js for dev -->
    {% endblock %}
  </body>
</html>
